<div class="container-fluid pages">
  <div class="container header-add-pages">
    <h1>Dodaj cover sliku</h1>
  </div>
  <div class="container cont-pages">
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form class="edit-form" [formGroup]="coverForm" (submit)="onSaveCover()" *ngIf="!isLoading">
        <div class="form-group">
          <div class="container">
            <div class="row justify-content-center">
              <h2>Set your cover photo(Min width: 1200px, Min height: 400px)</h2>
              <div class="text-center col-md-12">
                  <input type="file" (change)="coverFileChangeEvent($event)" />
              </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <image-cropper
                    [imageChangedEvent]="coverImageChangedEvent"
                    format="png"
                    [onlyScaleDown]="true"
                    (imageCropped)="coverImageCropped($event)"
                    [onlyScaleDown]="true"
                    [cropperStaticWidth]="coverCropperStaticWidth"
                    [cropperStaticHeight]="coverCropperStaticHeight">
                  </image-cropper>
                </div>
                <div class="text-center col-md-12">
                    <h3>Preview</h3>
                    <img [src]="coverCroppedImage" class="crop-preview" />
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <button type="submit" *ngIf="!isLoading" class="button-submit">GO</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
