<div class="container-fluid pages">
  <div class="container header-add-pages">
    <h1>Moja ponuda tereta</h1>
  </div>
  <div class="container cont-pages">
    <mat-card>
      <p *ngIf="cargos.length == 0 && !isLoading">Za vaše gabarite nema ponuda</p>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="container">
      <div class="row justify-content-center">
        <mat-card *ngFor="let cargo of cargos">
          <div class="col-sm-4 text-center cargo-container">
            <div class="row justify-content-center">
              <div class="icon-wrapper">
                <div class="icon icon-cargo-{{cargo.cargoType}}">
                  <div class="info-1">
                    <span>{{cargo.price}} EUR/km</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="route">
                <span>{{cargo.loads[0].city}} - {{cargo.unLoads[0].city}}</span><br>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="info-2">
                <span><b>Vrsta tereta:</b> &nbsp;</span>
                <span *ngIf="cargo.cargoType == 'adr'">ADR</span>
                <span *ngIf="cargo.cargoType == 'refrigerated'">hlađena/smrznuta roba</span>
                <span *ngIf="cargo.cargoType == 'ind_liq'">industrijske tekućine</span>
                <span *ngIf="cargo.cargoType == 'food_liq'">prehrambene tekućine</span>
                <span *ngIf="cargo.cargoType == 'ind_bulk'">industrijski rasuti teret</span>
                <span *ngIf="cargo.cargoType == 'food_bulk'">prehrambeni rasuti teret</span>
                <span *ngIf="cargo.cargoType == 'special'">izvanredni teret</span>
                <span *ngIf="cargo.cargoType == 'container'">kontejner</span>
                <span *ngIf="cargo.cargoType == 'not_palletized'">ne paletriana roba</span>
                <span *ngIf="cargo.cargoType == 'palletized'">paletirana roba</span>
                <span *ngIf="cargo.cargoType == 'vehicles'">vozila</span>
                <span *ngIf="cargo.cargoType == 'special_lengths'">roba posebnih dužina</span>
                <span *ngIf="cargo.cargoType == 'special_heights'">roba posebnih visina</span>
                <span *ngIf="cargo.cargoType == 'large_dimensions'">roba velikih dimenzija</span>
                <span *ngIf="cargo.cargoType == 'hang'">viseći teret</span>
                <span *ngIf="cargo.cargoType == 'animals'">životinje</span>
                <span *ngIf="cargo.cargoType == 'other'">ostalo</span>
              </div>
            </div>
            <div class="row">
              <div class="info-3 col-sm-12">
                <div class="row">
                <div class="col-sm-6">
                  <span><b>Utovarna mjesta:</b>&nbsp;{{cargo.loads.length}}</span><br>
                  <span><b>Datum utovara:</b><br>13.03.2021</span>
                </div>
                <div class="col-sm-6">
                  <span><b>Istovarna mjesta:</b>&nbsp;{{cargo.unLoads.length}}</span><br>
                  <span><b>Rok isporuke:</b><br>13.03.2021</span>
                </div>
              </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <a class="button-basic" data-toggle="modal" href="#Modal{{cargo.id}}">GO</a>
            </div>
            <div class="modal fade" id="Modal{{cargo.id}}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="container">
                    <div class="row justify-content-center">
                        <div class="modal-body">
                          <div class="container" *ngIf="cargo">
                            <mat-spinner *ngIf="isLoading"></mat-spinner>
                            <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />Close</div>
                            <mat-horizontal-stepper #stepper [selectedIndex]="0">
                              <mat-step label="Odabir tereta">
                                <div class="row">
                                  <div class="container" *ngIf="cargo">
                                    <p class="p-upper">Ponuda tereta {{cargo.id}}</p>
                                  </div>
                                  <div class="col-sm cargo-container">
                                    <div class="row justify-content-center">
                                      <div class="icon-wrapper">
                                        <div class="icon icon-cargo-{{cargo.cargoType}}">
                                          <div class="info-1">
                                            <span>{{cargo.price}} EUR/km</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row justify-content-center">
                                  <div class="route">
                                    <span>{{cargo.loads[0].city}} - {{cargo.unLoads[0].city}}</span><br>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="info-2">
                                    <span><b>Vrsta tereta:</b> &nbsp;</span>
                                    <span *ngIf="cargo.cargoType == 'adr'">ADR</span>
                                    <span *ngIf="cargo.cargoType == 'refrigerated'">hlađena/smerznuta roba</span>
                                    <span *ngIf="cargo.cargoType == 'ind_liq'">industrijske tekućine</span>
                                    <span *ngIf="cargo.cargoType == 'food_liq'">prehrambene tekućine</span>
                                    <span *ngIf="cargo.cargoType == 'ind_bulk'">industrijski rasuti teret</span>
                                    <span *ngIf="cargo.cargoType == 'food_bulk'">prehrambeni rasuti teret</span>
                                    <span *ngIf="cargo.cargoType == 'special'">izvanredni teret</span>
                                    <span *ngIf="cargo.cargoType == 'container'">kontejner</span>
                                    <span *ngIf="cargo.cargoType == 'not_palletized'">ne paletriana roba</span>
                                    <span *ngIf="cargo.cargoType == 'palletized'">paletirana roba</span>
                                    <span *ngIf="cargo.cargoType == 'vehicles'">vozila</span>
                                    <span *ngIf="cargo.cargoType == 'special_lengths'">roba posebnih dužina</span>
                                    <span *ngIf="cargo.cargoType == 'special_heights'">roba posebnih visina</span>
                                    <span *ngIf="cargo.cargoType == 'large_dimensions'">roba velikih dimenzija</span>
                                    <span *ngIf="cargo.cargoType == 'hang'">viseći teret</span>
                                    <span *ngIf="cargo.cargoType == 'animals'">životinje</span>
                                    <span *ngIf="cargo.cargoType == 'other'">ostalo</span>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="info-3 col-sm-12 mt-6">
                                    <div class="row">
                                    <div class="col-sm-6">
                                      <div *ngFor="let load of cargo.loads; let i=index;">
                                        <span><b>Utovarno mjesto {{ i + 1 }} </b></span><br>
                                        <span>{{load.address}}, {{load.city}}, {{load.countryCode}}, {{toDateFormat(load.date)}}, {{load.time}}</span>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div *ngFor="let unLoad of cargo.unLoads; let i=index;">
                                        <span><b>Istovarno mjesto {{ i + 1 }} </b></span><br>
                                        <span>{{unLoad.address}}, {{unLoad.city}}, {{unLoad.countryCode}}, {{toDateFormat(unLoad.date)}}, {{unLoad.time}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="container" *ngIf="areTrucks">
                                  <mat-card>
                                    <p>Proučio sam uvjete i želim poslat ponudu</p>
                                    <form [formGroup]="cargoSignupForm" (submit)="onSignupForCargo(cargo.id)" *ngIf="!isLoading">
                                      <select class="form-control" formControlName="truckId">
                                        <option value="" disabled selected hidden>Odaberi kamion</option>
                                        <option *ngFor="let truck of trucks" value="{{truck._id}}">{{truck.regNumber}}</option>
                                      </select>
                                      <input type="submit" value="GO" class="button-basic">
                                    </form>
                                  </mat-card>
                                </div>
                              </div>
                            </mat-step>
                            <mat-step label="Obrada">

                            </mat-step>
                            <mat-step label="Informacije">

                            </mat-step>
                          </mat-horizontal-stepper>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="totalCargos" [pageSize]="cargosPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="cargos.length > 0">
  </mat-paginator>
    </mat-card>
  </div>
</div>
