<div class="container-fluid">
  <div class="container header-add-pages">
    <h1>Impressum</h1>
  </div>
  <div class="container cont-pages">
    <mat-card class="left">
      <p>
        <b>Pružatelj usluga:</b><br>
        Ranoco d.o.o.<br>
        Ranoco društvo s ograničenom odgovornošću za trgovinu i marketing<br>
        <b>OiB:</b> 72128632437<br>
        Slemenice 24, 40000 Čakovec, Hrvatska<br>
        <a href="mailto:ranoco@ranoco.hr">ranoco@ranoco.hr</a><br>
        <b>Osoba ovlaštena za poslovne odluke:</b> Rafael Novak<br>
        <b>Sjedište tvrtke:</b> Slemenice 24, 40000 Čakovec, Hrvatska<br>
        <b>Vrsta tvrtke:</b> Društvo s ograničenom odgovornošću - d.o.o.<br>
        <b>Nadležni sud:</b> Trgovački sud Varažidn, Varaždin, Hrvatska<br>
        <b>Član uprave:</b> Rafael Novak<br>
        <b>VAT broj:</b> HR 72128632437<br>
        <b>Poslovni račun:</b> Privredna banka Zagreb<br>
        <b>IBAN:</b> HR7423400091111014684<br>
        <b>SWIFT:</b> PBZGH2X
        <h2>Pravno odricanje od odgovornosti:</h2>
        <ul class="ordered">
          <li>Rasingo platforma dizajnirana je i kreirana od strane Društva s ograničenom odgovornošću Ranoco, nadalje Ranoco, s ciljem moderniziranja i digitaliziranja logističkih poslovnih procesa gdje se susreću različiti poslovni subjekti. Samim time Ranoco nema kompletnu kontrolu nad sadržajem te ne može garantirati stopostotnu točnost prikazanih informacija. Korištenje Rasingo platforme je dobrovoljno i na vlastiti rizik. Širenje dezinformacija ili neprikladnih stajališta nisu dio Ranoco odgovornosti. Podaci na internetskoj stranici Rasingo ni u kojem slučaju ne služe ili pa prikazuju bilo koji oblik garancije ili jamstva koje druge vrste, u vezi Ranoco usluga i proizvoda. </li>
          <li>Rasingo će se truditi svojim održavanjem i tehnološkim znanjem omogućiti kontinuirani pristup, pri kojem postoji mogućnost da dio ili pa kompletna paleta usluga bude momentalno nedostupna zbog tehnoloških poteškoća ili pa radova na samoj stranici. Korisnici svjesno prihvaćaju mogućnost ograničenog pristupa u navedenim situacijama. </li>
          <li>Korištenjem stranih, vanjskih linkova, koji nisu dio Rasingo domene,  Ranoco ne može garantirati sastav, točnost i adekvatnost, radi čega se ograđuje od odgovornosti tuđih poveznica te ih pokušava minimizirati internim rješenjima. </li>
          <li>U slučaju oglašavanja, oglašavatelj i postavljatelj oglasa preuzima odgovornost za sastav i poruku oglasa te se sam oglas ni u kojem smislu ne povezuje ili pa je podržan od strane Rasinga.</li>
          <li>Ne dopušteno je ugovorno povezivanje ili sklapanja dogovora bilo koje vrste kooperanata koji su svoje poslovanje ili poznastvo stekli temeljem Rasingo platforme. Takva vrsta kršenja dozvoljava pravni lijek prema kršiteljima Rasingo uvjeta te Rasingo zadržava pravo permanentno ukloniti korisnika. </li>
          <li>Sadržaj i radovi objavljeni na ovoj internetskoj stranici zaštićeni su autorskim pravima. Za svaki slučaj upotrebe koji nije dopušten hrvatskim zakonom o autorskim pravima potreban je prethodni pisani pristanak odgovarajućeg autora ili izvornog umjetnika. To se posebno odnosi na umnožavanje, uređivanje, prijevod, početno skladištenje, obradu ili reprodukciju sadržaja u bazama podataka ili drugim elektroničkim medijima i sustavima. Sadržaj i doprinosi treće strane identificirani su kao takvi. Neovlašteno umnožavanje ili širenje pojedinih predmeta sadržaja ili cijelih stranica u poslovne ili komercijalne svrhe nije dopušteno i predstavlja kazneno djelo.</li>
          <li>Širenje Rasingo platforme dopušteno je isključivo s dopuštenjem ovlaštenih osoba</li>
          <li>Odgovoran sud je Trgovački sud Varaždin u Varaždinu, Hrvatska</li>
        </ul>
    </mat-card>
  </div>
</div>
