<div class="container-fluid">
  <div class="container header-add-pages">
    <h1>Karijera</h1>
  </div>
  <div class="container cont-pages">
    <mat-card class="left">
      <p>Dobro se snalaziš u brzorastućem digitalnom svijetu?
        Interesira te logistika i transport?
        Programiranje i web dizajn su tvoj poziv?
        Onda je Rasingo je pravo mjesto za tvoj budući poslovni razvoj.
        Budi proaktivan i samoinicijativno nam pošalji upit za posao s aktualnim životopisom, a mi ćemo kada se javi potreba, bez oklijevanja razmotriti tvoje potencijale.
      </p>
    </mat-card>
  </div>
</div>
