<div class="container-fluid pages">
  <div class="container header-add-pages">
    <h1>Kako Rasingo funkcionira?</h1>
  </div>
  <div class="container cont-pages">
    <mat-card class="left">
      <h2>Registracija i verifikacija poslovanja</h2>
      <p>Svi počeci su teški, zato Vas molimo za malo strpljenja i Vašeg vremena kako bi se adekvatno registrirali te ispunili Vaš poslovni profil.
        Ne brinite, kasnije će se Vaš trud isplatiti, a jedino kroz provjeru dozvola i aktualnosti licenci, možemo pružiti pouzdano okruženje isključivo s ozbiljnim partnerima.
      </p>
      <h2>Definiranje Vaših preferencija poslovanja</h2>
      <p>Pomoću zadanih filtera i alata ugrađenih u platformu u par koraka definirajte svoje preferencije i poslovne procese.
        Želimo da u budućnosti Rasingo odrađuje posao umjesto Vas, a kako bi bili što uspješniji pri tome, potrebno je točno definirati početne informacije te će Rasingo
        kontinuirano svoju ponudu prilagoditi Vama.
      </p>
      <h2>Potpuni pristup Rasingo platformi</h2>
      <p>Već u trećem koraku, imate kompletan pristup Rasingo uslugama. Samim time, možete pristupiti kompletnoj ponudi transportera i tereta koji su trenutno dostupni,
        prema zadanim parametrima te mogućnostima, koji proizlazi iz vlastitih kapaciteta koje tvrtka posjeduje i navodi. Istovremeno pošiljatelji mogu plasirati svoje oglase te
        pregledavati potencijalne kooperante.
      </p>
      <h2>Slanje oglasa</h2>
      <p>Naišli ste na oglas koji Vam odgovara i koji bi rado odradili. S par klikova možete ponuditi svoje usluge. U istom trenutku ponuđač će biti obaviješten o aktivnostima te će brzo
        odgovoriti. Ako dođe do zastoja u procesu, ugradili smo niz notifikacija i podsjetnika, da bi proces bio što fluidniji i brži.
      </p>
      <h2>A sad na posao</h2>
      <p>Vaša ponuđena usluga je prihvaćena te možete krenuti na posao. Sva potrebna papirologija spremno Vas čeka. S par klikova automatski ispuniti CMR obrazac,
        već postojećim podacima, uredite ga ako je potreba te ga priložite s ostalim bitnim dokumentima. Istovremeno možete krenuti dalje u potragu za novim poslovima.
      </p>
      <h2>Praćenje i mjerenje rezultata</h2>
      <p>Krajnji rezultat je iznimno bitan radi čega prikupljamo i automatizirano prikazujemo Vaše poslovne rezultate kako bi u budućnosti na što bolji način planirali i
        raspodijelili svoje kapacitete. Pomoću povratnih informacija možete svojim poslovanjem upravljati još pametnije i suvremenije.
      </p>
    </mat-card>
  </div>
</div>
