<div class="container-fluid pages">
  <div class="container header-add-pages">
    <h1>O nama</h1>
  </div>
  <div class="container cont-pages">
    <mat-card class="left">
      <p>Dobro došli na Rasingo, vaš logistički asistent u digitalnom doba transporta.</p>
      <p>Rasingo je suvremeni, logistički asistent čija zadaća je, na pametan i moderan način, ubrzati te pojednostaviti potrebe u logistici,
      koristeći resurse efikasnije, odgovornije i na održivi način. Primarni cilj Rasingo platforme je povećati obujam posla naših klijenata,
      tražeći preciznije, brže i jednostavnije za njih adekvatan posao, bez nepotrebne dodatne komunikacije, a istovremeno smanjujući svakodnevne administrativne poslove.
      Rasingo je virtualno mjesto gdje se transporterska poduzeća, pošiljatelji robe te logističke tvrtke susreću kako bi realizirali posao transporta,
      koristeći Rasingo interaktivnu i intuitivnu burzu tereta.
    </p>
    <p>Platformu Rasingo razvili smo iz prepoznate potrebe za boljim i efikasnijim alatima u uslugama transporta i logistike.
      Na razvoju proizvoda sudjelovali su različiti stručni kadrovi iz područja logistike i transporta kako bi svi procesi imali smisla.
      Interaktivnost i intuitivnost postigli smo kompetentnim istraživanjima, koji je tim od profesionalnih programera i dizajnera prenio u digitalni svijet.
      Zajedno stvaramo i dajemo život Rasingo platformi.
    </p>
    <p>Radimo, rastemo i razvijamo se iz dana u dan, a drago nam je ako se nam i Vi u tome priključite. Svojim korištenjem omogućavate još efikasniji razvoj Rasinga,
      koji će na posljetku rezultirati i Vašim poslovnim boljitkom. Naša asistencija isključivo je usmjerena Rasingo korisnicima te povećanju njihovog blagostanja,
      sa što odgovornijim ponašanjem prema prirodi i društvu.
    </p>
    <p>Misija: Pojednostaviti te ubrzati logistiku i transport Rasingo platformom, koja kao logistički asistent na jednostavan, intuitivan i fluidan način spaja sve sudionike tržišta,
      koristeći resurse efikasnije, odgovornije i na održivi način, ne ograničavajućim, globalnim pristupom.
    </p>
    <p>
      Vizija: Globalno revolucionizirati logističke i transportne usluge kroz digitalizaciju te modernizaciju postojećih infrastruktura s društveno odgovornim i
      održivim poslovanjem.
    </p>
    </mat-card>
  </div>
</div>
