<header>
  <img src="../../../assets/intro.jpg">
</header>
<div class="col row recommend-container">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Preporuči i produži</h2>
    </div>
  </div>
  <div class="row">
    <div class="mobile col-sm">
      <img src="../../../assets/recommend_mobile.png">
    </div>
    <div class="content col-sm">
      <h3>Preporuči i produži svoj rok besplatnog korištenja</h3>
      <p>
        Svakodnevno razvijamo našeg digitalnog, logističkog asistenta i rastemo s Vama. Pomozite nam pri tome i preporučite RASINGO platformu Vašim poslovnim partnerima. Zauzvrat i kao znak zahvalnosti produžujemo Vam rok besplatnog korištenja kompletnih Rasingo usluga WIN WIN situacija!
      </p>
      <a class="button-basic" routerLink="/invite">Preporuči</a>
    </div>
  </div>
</div>
<div class="devices">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Neograničeni pristup za sve uređaje</h2>
      <img src="../../../assets/devices.png">
    </div>
  </div>
</div>
