<ul class="sidenav">
  <li class="heading"><i class="fas fa-users"></i>&nbsp;<b>Moj Rasingo</b></li>
  <li><a routerLink="/createCargo">Add new cargo</a></li>
  <li><a routerLink="/createTransport">Add new transport</a></li>
  <li><a routerLink="/mySignUps">My signups</a></li>
  <li><a routerLink="/firmSignUps">Firm signups</a></li>
  <li><a routerLink="/myCargoList">Moja ponuda tereta</a></li>
  <li class="heading"><i class="fas fa-user-cog"></i>&nbsp;<b>Postavke</b></li>
  <li><a routerLink="/auth/myTrucks">Postavke kamiona</a></li>
  <li><a routerLink="/showMyProfile">Profile</a></li>
  <li><a routerLink="/auth/editAccount">Account Settings</a></li>
</ul>
