<div class="container-fluid">
  <div class="container header-add-pages">
    <h1>Usluge</h1>
  </div>
  <div class="container cont-pages">
    <mat-card class="left">
      <h2>Rasingo usluge</h2>
      <ul>
        <li>Interaktivna i responzivna burza tereta</li>
        <li>Pregled aktivnih transportnih i logističkih poduzeća</li>
        <li>Interna komunikacijska platforma s ugrađenim poslovnim profilima</li>
        <li>Oglasna ploča vlastitog poslovanja</li>
        <li>Statistički preglednik poslovanja</li>
        <li>Digitalno ispunjavanje CMR obrasca</li>
      </ul>
    </mat-card>
  </div>
</div>
