<div class="container-fluid pages">
  <div class="container header-add-pages">
    <h1>Unesite novu lozinku</h1>
  </div>
  <div class="container cont-pages">
    <mat-card>
      <form [formGroup]="fPasswordForm" (submit)="onSaveFPassword()" *ngIf="!isLoading">
        <div class="col-lg-12">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="form-group">
                <div class="row justify-content-center">
                  <input type="password" formControlName="newPassword" placeholder="Nova lozinka" class="form-control acc-input small">
                  <div class="error" *ngIf="submitted && fPasswordForm.controls.newPassword.errors?.required">New password is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="row justify-content-center">
                  <input type="password" formControlName="confirmNewPassword" placeholder="Ponovi novu lozinku" class="form-control acc-input small" pattern={{f.newPassword.value}}>
                  <div class="error" *ngIf="submitted && fPasswordForm.controls.confirmNewPassword.errors?.pattern">Password and Confirm password doesn't match</div>
                  <div class="error" *ngIf="submitted && fPasswordForm.controls.confirmNewPassword.errors?.required">Confirm password is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="w-100">
                <button type="submit" class="button-basic">GO</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
