<div class="container-fluid pages">
  <div class="container header-add-pages cont-pages">
    <mat-card>
      <p class="p-text">
        Zahvaljujemo na Vašoj prijavi
      </p>
      <p class="p-text">
        Verifikacijski kod poslan je na <span>{{email}}</span><br> Za nastavak prijave sljedite upute u E-mailu.
      </p>
      <p class="p-text">
        Ukoliko niste zaprimili potvrdni E-Mail o prijavi,<br>
        molimo Vas provjerite pretinac “Neželjene pošte".
      </p>
      <p class="p-text">Vaša prijava nije uspijela?<br> Ponovite postupak i provjerite točnost unesenih podataka.</p>
    </mat-card>
  </div>
</div>
